.DS_Store
.vscode/*
!.vscode/
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json

# Build outputs
*.out
*.exe
*.o
*.obj
*.a
*.so
*.dylib

# macOS debug artifacts
*.dSYM/

# Local compiled binaries
platforms/**/output/
